@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Raleway&display=swap');

* {
    --dark-sienna: #250902ff;
    --dark-sienna-2: #38040eff;
    --rosewood: #640d14ff;
    --ou-crimson-red: #800e13ff;
    --upsdell-red: #ad2831ff;
    --lightText: #ffff;
    --darkText: black;
}

* {
    box-sizing: border-box;
  }

.hide {
    display: none;
}


html, h1, h2, h3, h4, h5, h6, div {
    padding: 0;
    border: 0;
    margin: 0;
}

p {
    font-family: 'Cabin', sans-serif;
}


body {
    background: var(--dark-sienna-2);
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body, html {
    height: 100%;
  }

header {
    background: url(/assets/HeaderImg.png);
    background-size: cover;
    background-position: bottom;
    padding: 250px;
}
 
.headerlogo {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

@media screen and (max-width: 670px){header{
    min-height: 500px;
    background-size:auto;
    background-position: bottom;
}}


.navbar {
    min-height: 50px;
}

#search {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/placeholder2.png);
    min-height: 100%;
    background-position: center;
    background-size:cover;
    background-color: var(--ou-crimson-red);
    color: var(--lightText);
    border-radius: 7px;
}

h4 {
    padding: 5px;
    font-weight: 800;
}

#movieInfoArea{
    color: var(--lightText);
    background-color: var(--upsdell-red);
    border-radius: 2px;
}

#infoTitle{
    color: var(--lightText);

    font-weight: 800;
    background-color: var(--upsdell-red);
}

#movieInfo {
    color: var(--lightText);
    font-size: x-large;
    font-weight: 400;
    background-color: var(--upsdell-red);
}
 
#movieName {
    max-width: 80%;
    font-weight: 800;
    font-size: xx-large;
    padding-top: 50px;
}

#moviePoster{
    color: var(--darkText);
    background-color: white;
    margin-bottom: 10px;
    margin-right: 5px;
    padding-left: 100px;
    background-color: var(--upsdell-red);
    max-height: auto;
    max-width: 800px;
}

#submitBtn {
    margin-left: 200px;
    margin-bottom: 25px;
    border-radius: 10px;
    background: var(--dark-sienna);
    color: var(--lightText);
}

#actorNames {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    background: var(--dark-sienna);
    color: var(--lightText);
}

.actorBtn {
    display: flex;
    flex-direction: inline;
    padding-left: 100px;
    padding-right: 100px;
    margin: 10px;
    justify-content: space-between;
}

.actorNames {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    background: var(--dark-sienna);
    color: var(--lightText);
}

.searchMovie {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/placeholder2.png);
    color: var(--lightText);
    margin: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}




input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .card-panel {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/placeholder2.png);
    color: var(--lightText);
    margin: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

  
  /* Create two columns that float next to eachother */
  .contactcolumn {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .contactrow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

#footNote, #footerh5{
    text-align: center;
}
.footerlinks{
    
    min-width: 100%;
   
}
.circle responsive-img{
    width: 20px;
    height: 20px;
}

.text {
    color: var(--lightText);
}

