@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Raleway&display=swap');

* {
    --dark-sienna: #250902ff;
    --dark-sienna-2: #38040eff;
    --rosewood: #640d14ff;
    --ou-crimson-red: #800e13ff;
    --upsdell-red: #ad2831ff;
    --lightText: #ffff;
    --darkText: black;
}

.hide {
    display: none;
}


html, h1, h2, h3, h4, h5, h6, div {
    padding: 0;
    border: 0;
    margin: 0;
}

p {
    font-family: 'Cabin', sans-serif;
}


body {
    background: var(--dark-sienna-2);
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    background: url(/assets/HeaderImg.png);
    background-size: cover;
    min-height: 650px;
    background-position: bottom;
    padding: 150px;
}
  
@media screen and (max-width: 670px){header{
    min-height: 500px;
    background-size:auto;
    background-position: bottom;
}}

.brand-logo {
    font-size: 36px;
    justify-content: space-between;
}

.navbar {
    min-height: 30px;
}

.imageplaceholder {
background: url(/assets/placeholdergraphic.png);
min-height: 600px;
background-position: center;
background-size:auto;
}

#search {
    background-color: var(--ou-crimson-red);
    color: var(--lightText);
    border-radius: 7px;
}

h4 {
    padding: 5px;
    font-weight: 800;
}

#movieInfoArea{
    color: var(--lightText);
    background-color: var(--upsdell-red);
    border-radius: 2px;
}

#infoTitle{
    color: var(--lightText);

    font-weight: 800;
    background-color: var(--upsdell-red);
}

#movieInfo {
    color: var(--lightText);
    font-size: x-large;
    font-weight: 400;
    background-color: var(--upsdell-red);
}
 
#movieName {
    max-width: 80%;
    font-weight: 800;
    font-size: xx-large;
    padding-top: 50px;
}

#moviePoster{
    color: var(--darkText);
    background-color: white;
    margin-bottom: 10px;
    margin-right: 5px;
    padding-left: 100px;
    background-color: var(--upsdell-red);
}

#submitBtn {
    margin-left: 200px;
    margin-bottom: 25px;
    border-radius: 10px;
    background: var(--dark-sienna);
    color: var(--lightText);
}

#actorNames {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    background: var(--dark-sienna);
    color: var(--lightText);
}

.actorNames {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    background: var(--dark-sienna);
    color: var(--lightText);
}

.searchMovie {
    background: var(--rosewood);
    color: var(--lightText);
    margin: 10px;
    border-radius: 10px;
    padding: 25px;
}



#footNote, #footerh5{
    text-align: center;
}
.footerlinks{
    
    min-width: 100%;
   
}
.circle responsive-img{
    width: 20px;
    height: 20px;
}